.smart-field {
	border: solid;
	padding: 10px;
	height: fit-content;
	position: relative;
}

.smart-field-value-container {
	min-height: 2em;
	margin-bottom: 1em;
}

.smart-field-placeholder {
	padding: 0 5px 5px 0;
	margin: 0;
	position: absolute;
	right: 0;
	bottom: 0;
}

.smart-field-value {
	padding: 0;
	margin: 0;
}

.smart-field-button {
	padding: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 5px;
}

.smart-field-input {
	margin-bottom: 2em;
}
