:root {
	--table-bg: #eeeeee;
	--table-label: #c5c5c5;
	--table-header: #b3b3b3;
	--button-color: rgb(36, 36, 36);
	--button-hover-color: rgb(46, 46, 46);
	--button-active-color: rgb(71, 71, 71);
}

button {
	border: none;
	border-radius: 5px;
	background-color: var(--button-color);
	color: white;
	cursor: pointer;
}
button:hover {
	background: var(--button-hover-color);
}
button:active {
	background: var(--button-active-color);
}
